{% load static %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="{% static 'admin/css/customized_components.css' %}?v=3" rel="stylesheet">

    <link href="{% static 'admin/css/calendar.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'admin/fonts/fontawesome-free-6.6.0-web/css/all.min.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css" rel="stylesheet">

{% block content %}
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Available Rooms</th>
            <th>Booked Rooms</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in calendar %}
            <tr>
                <td>{{ entry.date }}</td>
                <td>{{ entry.available_count }}</td>
                <td>{{ entry.booked_count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}