{% block content %}

<nav class="navbar bg-base-100 shadow">
  <div class="navbar-start">

    <!-- Mobile menu -->
    <div class="dropdown lg:hidden">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="{% url 'admin:login' %}">Login</a></li>
      </ul>
    </div>

    <a class="btn btn-ghost text-xl">Samarth Nivas</a>
  </div>

</nav>
{% endblock %}